table.reveal.talk {
  border-top-style:solid;
  border-width:1px;
  border-color:#eeeeee;
  width:60%;
  margin:auto;
}

table.reveal.talk caption {
  margin:20px;
}
table.reveal.talk tr {
  margin:auto;
  border-bottom-style: 1px;
}
table.reveal.talk tr td {
  text-align:center;
  padding:20px;
}

table.reveal.talk tr td:first-child {
  text-align:left;
}

.reveal pre code {
  border-radius: 15px;
  font-size: 16pt;
  line-height:16pt;
}

.reveal pre code.big-code {
  font-size: 24pt;
  line-height:26pt;
}

.reveal span.doc-string {
  font-size:20pt;
  line-height:26pt;
  font-style:italic;
  text-align:left;
  display:block;
  margin:2em;
  font-weight:normal;
}
